<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Stack Mean
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Todolist</a></li>
            <li><a href="/api">API Rest</a></li>
            <li><a href="/apropos">A Propos</a></li>
        </ul>

    </div>
</nav>