<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container" ng-app="stackMean">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Hello You</h1>
        <p>
            Welcome to Todolist interface. Here you can create, delete and read your daily tasks :)<br/>
            P.S. Don't forget to feed the cat!
        </p>
    </div>
    <div ng-controller="TodolistCtrl">
        <%= clientId %> {{serverId}} {{todolist.length}}<br/>
        <label for="task">Add new Task</label>
        <form ng-submit="createTask()">
            <input type="text" name="name" title="task" ng-model="name">
            <button type="submit">Add</button>
        </form>
        <ul ng-repeat="list in todolist">
            <li>{{list.name}} <button ng-click="removeTask(list._id)">remove</button></li>
        </ul>
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>