<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stack Mean</title>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/style.css">-->

    <!-- JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>

    <script src="js/app.js"></script>

</head>
<body ng-app="stackMean">
<div class="container">
    <div class="jumbotron">
        <h1>This Is Heroku Awesome!</h1>
        <p>This is the sample of a tutorial on <a href="https://tva.rt">tvart</a></p>
        <a href="next" class="btn btn-primary btn-lg">View the Next Step</a>
    </div>
    <div ng-controller="TodolistCtrl">
        <%= clientId %> {{serverId}} {{todolist.length}}<br/>
        <label for="task">Add new Task</label>
        <form ng-submit="createTask()">
            <input type="text" name="name" title="task" ng-model="name">
            <button type="submit">Add</button>
        </form>
        <ul ng-repeat="list in todolist">
            <li>{{list.name}} <button ng-click="removeTask(list._id)">remove</button></li>
        </ul>
    </div>
</div>

</body>
</html>